.memberMenu{
    .active{
        border-bottom: $primary 2px solid;
    }
    li{
        &:hover{
            a{
                border-bottom: $primary 2px solid;
            }
        }
        a{
            border-bottom: transparent 2px solid;
        }
    }
}
.InvitationCodeNote{
    font-size: 13.5px;
}